.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.navbar {
    background-color: #0f6674;
    color: white;
}
.w {
    padding: 16px;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}
.w:hover {
    background-color: #5c96bc;
    color: white;
}
.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}
.aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #1e8151;
    color: white;
}
.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}
.ep {
    position: absolute;
    bottom: 37%;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
    z-index: 3;
}

.statemachine {
    margin: 5% !important;
}
/* ----------------------Модальное окно-------------------*/
.modal {
    display: none;
   position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 10px solid #888;
    width: 50% !important;
}
#myBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: center;
    margin-top: 10px;
    margin-bottom: 0;
}
/*----------------------------------------------- */
#dep {
    left: 5em;
    top: 5em;
    width: 20em;
    height: 40em;
    z-index: 0;
}
#division1 {
    position:absolute;
    left: 7em;
    top: 10em;
    width: 10em;
    z-index: 1;
}
#division2 {
    position:absolute;
    left: 7em;
    top: 15em;
    width: 10em;
    z-index: 1;
}
#division3 {
    left: 7em;
    top: 20em;
    width: 10em;
    z-index: 1;
    position:absolute;
}
#division4 {
    left: 7em;
    top: 25em;
    width: 10em;
    z-index: 1;
}
#branch1 {
    left: 50em;
    top: 5em;
    width: 20em;
    height: 22em;
    z-index: 0;
}
#branch2 {
    left: 52em;
    top: 14em;
    width: 10em;
    z-index: 1;
}
#branch3 {
    left: 52em;
    top: 8em;
    width: 10em;
    z-index: 1;
}
#branch4 {
    left: 52em;
    top: 20em;
    width: 10em;
    z-index: 1;
}

.main-btn1 {
    position: absolute;
    top: -10px;
    right: 5px;
    width: 2em;
    height: 2em;
    background-color: palevioletred;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }